{% extends "layout.html" %}
{% block content %}
<div class="jumbotron"><p>Hi, I am Rajan Chauhan.I am currently  pursuing B.Tech from MNNIT Allahabad.Studying in 3rd year currently looking for internship programmer so that i could work on some real projects in my Summer Duration.
You can catch me <a href="https://www.facebook.com/RAJCHAUHAN9" target="_blank"><span class="dark">facebook</span></a> <a href="https://plus.google.com/+rajanchauhandiscover" target="_blank"> <span class="dark">google</span></a> and <a href="https://www.linkedin.com/in/rajan-chauhan-468358a6" target="_blank"><span class="dark">Linkedin</span></a> </p></div>
{% endblock %}