{% extends "layout.html" %}
{% block content %}
<div class="jumbotron"><p> <a href="https://github.com/rajexp/gold_n_bugler_game" target="_blank"><span class="Gold">Download</span></a> this game from Github.</br> Exe file is not released yet so you can play only if you have python installed in your system or else wait for the release of the exe file for windows. You can play this game on linux too</p>
<hr/>
<h3>Image of the game at start </h3>
<img alt="screenshot of start of the game" src="https://raw.githubusercontent.com/rajexp/gold_n_bugler_game/master/game1.JPG">
</div>
{% endblock %}